body, html{
	margin:0;
	height: 100%;
}
canvas {
    display: block;
    animation: fadein 1s;
    user-select: none;
}
#vanta-canvas {
    width: 100%;
}
::selection {
    background: #9463dd;
    color: white;
}
